<h1>Post Mini</h1>

<!-- Card for http request -->
<ng-template #requestFormTemplate>
  <form [formGroup]="requestForm" class="flex flex-col gap-3">
    <!-- End point of request -->
    <div class="flex flex-row gap-2">
      <!-- Verb -->
      <mat-form-field appearance="outline" class="flex flex-col gap-1 w-1/4">
        <mat-label>Verb</mat-label>
        <mat-select id="verb" formControlName="verb" class="text-lg h-full">
          <mat-option value="GET">GET</mat-option>
          <mat-option value="POST">POST</mat-option>
          <mat-option value="PUT">PUT</mat-option>
          <mat-option value="PATCH">PATCH</mat-option>
          <mat-option value="DELETE">DELETE</mat-option>
          <!-- Add more request types as needed -->
        </mat-select>
      </mat-form-field>

      <!-- URL -->
      <mat-form-field appearance="outline" class="flex flex-col gap-1 w-3/4">
        <mat-label>Target URL</mat-label>
        <input
          matInput
          type="text"
          id="url"
          formControlName="url"
          placeholder="https://your-url.io"
          class="text-lg"
          required
        />
        <mat-error> Please enter a valid url "http://..." </mat-error>
      </mat-form-field>
    </div>

    <mat-divider />

    <mat-tab-group
      mat-stretch-tabs="false"
      mat-align-tabs="start"
      dynamicHeight
      animationDuration="500"
    >
      <!-- Headers -->
      <mat-tab
        [label]="headerCount > 0 ? 'Headers (' + headerCount + ')' : 'Headers'"
        class="flex flex-col"
      >
        <div formArrayName="headers" class="flex flex-col mt-3">
          @for (headerForm of headers.controls; track $index) {
          <div
            [formGroupName]="$index"
            class="flex flex-row gap-2 justify-between"
          >
            <mat-form-field appearance="outline" class="flex-1">
              <mat-label>Header Name</mat-label>
              <input
                matInput
                type="text"
                id="name"
                formControlName="name"
                placeholder="name"
                (focus)="onFocus($event)"
                (change)="onChangeFormArray($event, headers, $index)"
              />
            </mat-form-field>
            <mat-form-field appearance="outline" class="flex-1">
              <mat-label>Header Value</mat-label>
              <input
                matInput
                type="text"
                id="value"
                formControlName="value"
                placeholder="value"
              />
            </mat-form-field>

            <div
              class="grid grid-cols-2 place-items-center pb-[22px] px-2 gap-2"
            >
              <div>
                <mat-checkbox
                  matTooltip="{{
                    headerForm.get('enabled')?.value
                      ? 'Disable header'
                      : 'Enable header'
                  }}"
                  id="enabled"
                  formControlName="enabled"
                ></mat-checkbox>
              </div>

              <button
                mat-icon-button
                matTooltip="Delete header"
                color="primary"
                [disabled]="$last"
                (click)="deleteFormFromFormArray(headers, $index)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
          }
        </div>
      </mat-tab>

      <!-- Params -->
      <mat-tab
        [label]="paramCount > 0 ? 'Params (' + paramCount + ')' : 'Params'"
        class="flex flex-col"
      >
        <div formArrayName="params" class="flex flex-col mt-3">
          @for (paramForm of params.controls; track $index) {
          <div
            [formGroupName]="$index"
            class="flex flex-row gap-1 justify-between"
          >
            <mat-form-field appearance="outline" class="flex-1">
              <mat-label>Param Name</mat-label>
              <input
                matInput
                type="text"
                id="name"
                formControlName="name"
                placeholder="name"
                class="flex-1 py-1"
                (focus)="onFocus($event)"
                (change)="onChangeFormArray($event, params, $index)"
              />
            </mat-form-field>
            <mat-form-field appearance="outline" class="flex-1">
              <mat-label>Param Value</mat-label>
              <input
                matInput
                type="text"
                id="value"
                formControlName="value"
                placeholder="value"
                class="flex-1 py-1"
              />
            </mat-form-field>

            <div
              class="grid grid-cols-2 place-items-center pb-[22px] px-2 gap-2"
            >
              <div>
                <mat-checkbox
                  id="enabled"
                  formControlName="enabled"
                ></mat-checkbox>
              </div>

              <button
                mat-icon-button
                color="primary"
                [disabled]="$last"
                (click)="deleteFormFromFormArray(params, $index)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
          }
        </div>
      </mat-tab>

      <!-- Body -->
      <mat-tab label="Body">
        <mat-form-field appearance="outline" class="w-full mt-3">
          <mat-label>Raw Body</mat-label>
          <textarea
            matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="3"
            type="text"
            id="body"
            formControlName="body"
            placeholder="{&#10;  data: i-am-data&#10;}"
          ></textarea>
        </mat-form-field>
      </mat-tab>
    </mat-tab-group>
  </form>
</ng-template>

<mat-card>
  <mat-card-header>
    <mat-card-title>HTTP Request</mat-card-title>
  </mat-card-header>
  <mat-card-content class="mt-4">
    <ng-template [ngTemplateOutlet]="requestFormTemplate"></ng-template>
  </mat-card-content>
  <mat-card-actions>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      (click)="sendRequest()"
    >
      Request
    </button>
  </mat-card-actions>
</mat-card>

<!-- Display loading indicator or error message based on the loading state -->
<div *ngIf="loadingState === LoadingState.Loading">Loading...</div>
<div *ngIf="loadingState === LoadingState.Error">
  Error occurred while loading.
</div>

<!-- Display response if the loading state is Loaded -->
<div *ngIf="loadingState === LoadingState.Loaded">
  <h3>Response:</h3>
  <pre>{{ response | json }}</pre>
</div>
