@import "@angular/cdk/overlay-prebuilt.css";

/* TailwindCSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global settings */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* configs to fix fa-icon SSR on start up - will be overwritten once css is loaded */
fa-icon svg {
  display: inline-block;
  font-size: inherit;
  height: 1em;
}
fa-icon .fa-2x {
  height: 2em;
}

/* Angular material configs */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
